.extension-list-scroll {
  max-height: 50em;
}

.extension-list-label {
  max-width: 14em;
}

.extension-list-label:error {
  color: #c01c28;
}

.extension-list-label:outdate {
  color: #cd9309;
}

.extension-list-label:focus {
  color: #3584e4;
  font-weight: bold;
}

.extension-list-iconbtn:focus {
  color: #3584e4;
}

.extension-list-iconbtn:hover {
  color: #4b92e7;
}
